:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --primary-bg-color: #FFFFFF;
    --primary-page-color: #212121;
    --portfolio-button-color: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;    
    font-size: 14px;
    line-height: 1.71;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.logo {
    margin-left: 0px;
    margin-right: 93px;
    
    color: var(--primary-page-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
}

.main-nav {
    display: flex;
    align-items: center;

}



.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;

    color: var(--primary-bg-color);
}

.list-footer {
    background-color: #2F303A;
    
}


.button {
    width: 216px;
    height: 50px;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
}

.portfolio-button {
    display: inline-block;
    min-width: 73px;
    max-width: 130px;
    width: auto;
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 16px;
    background-color: var(--portfolio-button-color);
    color: var(--primary-page-color);
    font-weight: 500;
    line-height: 1.6; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}


.backdrop {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--primary-bg-color);
    border-radius: 3px;
}

.modal__btn {
    position: absolute;    
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background: var(--primary-bg-color);
    border: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);}

.modal__btn:hover,
.modal__btn:focus {
    cursor: pointer;
    fill: var(--accent-color);
}

.form {
    position: relative;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.form__filed {
    position: relative;
    display: flex;
    flex-direction: column;

    text-align: left;
    margin-bottom: 10px;
    width: 100%;      
}

.form__filed:hover,
.form__filed:focus-visible {
    border-color: var(--accent-color);
}

.form__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--primary-page-color);
}

.form__filed input {
    padding-left: 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}

.form__filed input:hover,
.form__filed input:focus{
    border-color: var(--accent-color);
    cursor: pointer;
}

.icon__form {
    position: absolute;
    bottom: 11px;
    left: 15px;
    fill: var(--primary-page-color);
}

.icon__form:hover {
    fill: var(--accent-color);
}


.form__filed textarea {
    display: block;
    padding: 12px 16px;
    height: 120px;

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}

.form__filed textarea:hover {
    cursor: pointer;
}

.icon__person {
    position: absolute;
    bottom: 11px;
    left: 15px;
}

.form__input:hover + .icon__form,
.form__input:focus + .icon__form {
    color: var(--accent-color);
    fill: currentColor;
}

.form__filed label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.comment__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.comment__form:hover {
    cursor: pointer;
}

.icon__check {
    display: inline-block;
    border: 2px solid var(--primary-page-color);
    /* background-color: tomato; */
    border-radius: 2px;
    margin-right: 7px;
    width: 15px;
    height: 15px;   
}

.icon__check + a {
    color: var(--accent-color);
    margin-left: 7px;
}

.checkbox:checked + .icon__check {
    background-color: var(--accent-color);
    border-color: var(--accent-color); 
    border: none;
}


    /* background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    background-color: var(--accent-color);
    border-color: var(--accent-color); */


.form [type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border-radius: 4px;
    border: none;
}

.form [type="submit"]:hover {
    cursor: pointer;
}


.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
    list-style: none;
}

.section {    
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-off-padding {
    padding: 0 0 94px 0;
}

.our__team {
    background-color: var(--portfolio-button-color);
}

.first-sections {
    display: flex;    
    background: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    text-align: center;    
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.poster__first__section {
    width: 696px;
    margin-left: auto;
    margin-right: auto;

}

.first-title {

    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-bg-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.second-title {
    margin: 0;
    margin-bottom: 50px;
    color: var(--primary-page-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.container {
    display: flex;
    align-items: center;
    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}

.three-title {    
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-page-color);    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.person-list {
    display: flex;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.person-list .item:not(:last-child) {
    margin-right: 30px;
}

.job-title {
    margin: 0;
}

.three-list {
    display: flex;    
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;    
}

.three-list .item {
    width: 270px;
}

.three-list .item:not(:last-child) {
    margin-right: 30px;
} 

.three-list p {
    margin-top: 0;
    margin-bottom: 0;
}

.three-list, 
.work-list,
.person-list,
.contacts-list,
.portfolio,
.filter {
    list-style: none;
    font-style: normal;
}

.filter {
    display: flex;
    justify-content: center;

    margin-bottom: 56px;
}

.filter .item:not(:last-child) {
    margin-right: 8px;
}

.contacts-list {
    padding-left: 0;   
    margin: 0;
}


.contacts-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.work-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.work-list .item {
    position: relative;
}

.work__image {    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}

.work__text {
    color: var(--primary-bg-color);
}

.work-list .item:not(:last-child) {
    margin-right: 30px;
}

.person h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.job-title {
font-size: 16px;
line-height: 1.19;
}

.accent {
    color: var(--accent-color);
}

.site-nav {
    display: flex;

    padding-inline-start: 0;
    list-style: none;   
    margin: 0;
}



/* .site-nav .item {
    outline: 1px solid red;
} */

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .item {   
    position: relative; 
    padding-top: 28.031px;
    padding-bottom: 28.031px;
}

.current::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: 0;
    transform: translateY(1px);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.icon__massage:focus,
.icon__massage:hover,
.link:hover,
.link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.link-footer {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
}

.addres {
    color: var(--primary-bg-color);
}

.link-footer:hover,
.link-footer:focus {
    color: var(--primary-bg-color);
}

.link__footer__hover:hover,
.link__footer__hover:focus {
    color: var(--accent-color);
   }
   

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;    
}

.link + .link {
    margin-left: 50px;
}

/* .box {
    display: flex;
    align-items: center;
    border-bottom: 1px #ECECEC;
    
    width: 1230px;
    margin: auto;    
    padding-left: 15px;
    padding-right: 15px;    
} */

.contact-nav {
    display: flex;
    list-style: none;
    margin-left: auto;   
}

.link-second {
    margin-left: 50px;
}

.header-link {
color: var(--primary-page-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-decoration: none;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}

.current {
    color: var(--accent-color);
}

.portfolio-second-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin: 0 0 4px 0;
}

.portfolio-page {
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.9;
margin: 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;    
    
}

.portfolio .item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
}

.portfolio .item:nth-child(3n) {
    margin-right: 0;
}

.portfolio .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.card__link{
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper__overlay {
    position: relative;
    overflow: hidden;
}

.card__link:hover .box__overlay,
.card__link:focus .box__overlay{
    transform: translateY(0%);   
}

.box__overlay {
    position: absolute;
    transform: translateY(100%);
    background: rgba(33, 150, 243, 0.9);;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.text__overlay {
    margin: 0;
    padding: 63px 24px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
}


.card__link:hover,
.card__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);    outline: transparent;    
} 

.item-text {
    padding: 20px 24px;
}

.border-bottom {
    border-bottom: 1px solid #ECECEC;
}

.person-list .item-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--primary-bg-color);
}

.item-team {
    padding: 30px;
    text-align: center;
}

.icon__massage {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.icon__phone {    
    width: 10px;
    height: 16px;
    margin-right: 10px ;
    fill: currentColor;
}

.icon__our__differences {
width: 270px;
margin-bottom: 30px;
}
    
.social__list {
    margin-top: 16px;
    padding: 0;
    display: flex;
    list-style: none;
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

/* .client__item {
    border: 1px solid #AFB1B8;
    border-radius: 3px;    
} */

.client__item:not(:last-child) {
    margin-right: 30px;
}



/* .icon__social:hover {
    fill: var(--primary-bg-color); 
} */

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-text-color);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__social {
    fill: #AFB1B8;        
}

.social__link:hover,
.social__link:focus { 
    background-color: var(--accent-color);    
    
}

.social__link:hover .icon__social, 
.social__link:focus .icon__social {
    color: var(--primary-bg-color);
    fill: currentColor;
}

.icon {    
    fill: #AFB1B8;    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: inherit;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 3px;    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .icon,
.client__link:focus .icon {
    color: var(--accent-color);
    fill: currentColor; 
}

.client__link:hover,
.client__link:focus {
    border-color: var(--accent-color);
}

.title__footer {
    color: var(--primary-bg-color);
}

.social__list__footer {
    display: flex;
    justify-content: center; 
}

.box__social__footer {
    margin-left: 70px;    
}

.social__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;    
    fill: var(--primary-bg-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__footer:hover,
.social__footer:focus {
   background-color: var(--accent-color);
}

.social__footer__item:not(:last-child) {
    margin-right: 10px;
}

.footer__box__mail {
    margin-left: 93px;
}

.footer__list__mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__mail {
    display: block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: inherit;
    padding: 15px 0 15px 16px;
    outline: transparent;
    color: var(--primary-bg-color);
}

.taxt__mail:focus-visible {
    border: transparent;
}
    

.send__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border-radius: 4px;
    border: none;
    margin-left: 12px;
    padding: 10px 28px;
}

.send__btn p {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.send__btn:hover,
.send__btn:focus {
    cursor: pointer;
}